@{
    ViewData["Title"] = "Checkout";
}
<script src="https://js.stripe.com/clover/stripe.js"></script>

<h1>Checkout</h1>

<div class="row">
    <div class="col-md-6">
        <form id="payment-form">
            <div >
                <label>Shipping Address</label>
                <input type="text" id="shipping-address" class="form-control" placeholder="123 Main St, City, State, ZIP" required />
            </div>
            <h4>Payment</h4>
            <div id="card-element" class="mb-3">
                <!-- Stripe Card Element will be inserted here -->
             </div>
                <button id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay now</span>
                </button>
        </form>
    </div>
</div>
        
