
@{
    ViewData["Title"] = "Inventory";
}

<div class="container">
    
    <h1> Current Inventory </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Update Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Forest Tiles</td>
                <td>100</td>
                <td><button>Update Quantity</button></td>
            </tr>
        </tbody>
    </table>
</div>