@model IEnumerable<Terrains_Treasures.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <!--Loop through all products displaying info on a card -->
        @foreach(var product in Model)
        {
        <div class="col-md-4 mb-4">
            <div class="card h-100  shadow-sm">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                    <img class="card-img-top" style="height:200px; object-fit:cover;" src="~/Images/@product.ProductId/@product.ImageName" alt="Card image cap">
                </a>

                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>

                    <p class="card-text">
                        @product.Description
                    </p>

                    <div class="mt-auto">
                        <p class="fw-bold">$@product.Price</p>
                    </div>
                </div>
            </div>
        </div>
        }
        
    
    
</div>
